﻿@model IEnumerable<CapitolWomen.Models.Application>
@{
    ViewBag.Title = "ShowApplications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using CapitolWomen.Models;
<div class="banner-w3text w3layouts aboutw3l-bnrtext">
    <h2><span style="color:deeppink;">ADMIN END</span></h2>
</div>
	</div>
<!-- //banner -->
<!-- about -->
<div class="about">
    <div class="container">
        <h3 class="agileits-title">Manage Applications</h3>
        <div class="about-agileinfo">
            <div class="row">
                <div class="table-responsive">
                    <table id="myTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Question1</th>
                                <th>Question2</th>
                                <th>Question3</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.Phone</td>
                                        <td>@item.Email</td>
                                        <td>@item.Question1</td>
                                        <td>@item.Question2</td>
                                        <td>@item.Question3</td>
                                        <td>
                                            @*<span><a data-toggle="modal" data-id=@item.Id title="Delete this item" class="open-deleteApplicantDialog" href="#deleteApplicantDialog"><span class="glyphicon glyphicon-pencil" style="color:forestgreen;"></span></a></span> | 
                                            <span><a href="#exampleModal" data-toggle="modal" id="edit" data_id=(Json.Encode(@item))"><span class="glyphicon glyphicon-eye-open"></span></a></span> |
                                            <span><a data-toggle="modal" data-id=@item.Id title="Delete this item" class="open-deleteApplicantDialog" href="#deleteApplicantDialog"><span class="glyphicon glyphicon-trash" style="color:red;"></span></a></span>*@
                                        </td>
                                    </tr>
                                }
                            
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="@Url.Action("EditApp","Admin")" method="post">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Register Yourself to become a part of Capitol Women.</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Name:</label>
                        <input onchange="return trim(this)" type="text" class="form-control" name="Name" id="name" required>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Date Of Birth:</label>
                        <input onchange="return trim(this)" type="date" class="form-control" name="DOB" id="dob" required>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Phone(format: xxxx-xxx-xxxx)</label>
                        <input onchange="return trim(this)" pattern="^\d{4}-\d{3}-\d{4}$" type="text" class="form-control" name="Phone" id="phone" required>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Email:</label>
                        <input onchange="return trim(this)" type="Email" class="form-control" name="Email" id="email" required>
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Have you ever attended a Town hall meeting?</label><br />
                        <input type="radio" id="attend" name="AttendMeeting" value="Yes" checked> Yes<br>
                        <input type="radio" id="attend" name="AttendMeeting" value="No"> No<br>
                    </div>

                    <div class="form-group">
                        <label for="message-text" class="control-label">Have you ever participated in a Leadership program? If yes which program?</label>
                        <textarea onchange="return trim(this)" class="form-control" id="question1" name="Question1" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">What describes you more Candidate,Campaign Manager or Volunteer?</label>
                        <textarea onchange="return trim(this)" class="form-control" id="question2" name="Question2" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Why do you think it is important that women run for office?</label>
                        <textarea onchange="return trim(this)" class="form-control" id="question3" name="Question3" required></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal" style="background-color:#00AEC5; color:white; font-weight:bold;">Close</button>
                    <button type="submit" class="btn" style="background-color:deeppink; color:white; font-weight:bold;">Send message</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="deleteApplicantDialog" class="modal fade" role="dialog">
    <div class="modal-dialog">
        @using (Html.BeginForm("DeleteApp", "Admin", FormMethod.Post))
            {
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Warning!</h4>
                </div>

                <div class="modal-body">
                    <label for="middle-name" class="control-label">You are about to delete an application, Are you sure?</label><br />
                    <input type="text" name="Id" id="Id" hidden value="" />
                    <div class="modal-footer">
                        <button id="saveButton" type="submit" class="btn" style="background-color:#00AEC5; color:white; font-weight:bold;">Yes</button>
                        <button type="button" class="btn" data-dismiss="modal" style="background-color:deeppink; color:white; font-weight:bold;">No</button>


                    </div>
                </div>
            </div>
        }
    </div>
</div>

    <!-- //about -->
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
        $(document).on("click", ".open-deleteApplicantDialog", function () {
            $(".modal-body #Id").val($(this).data('id'));
            $('#deleteApplicantDialog').toggle();
        });
        $('#edit').on("click", function () {
            var model = $('#edit').data('id');
            var app = @Html.Raw(Json.Encode(Model));
            $('name').val = app.Name;
            $('dob').val = app.DOB;
            $('email').val = app.Email;
            $('phone').val = app.Phone;
            $('attend').val = app.AttendMeeting;
            $('question1').val = app.Question1;
            $('question2').val = app.Question2;
            $('question3').val = app.Question3;
        });
        var model = @Html.Raw(Json.Encode(Model));
        function EditApplication(app) {
            $('name').val = app.Name;
            $('dob').val = app.DOB;
            $('email').val = app.Email;
            $('phone').val = app.Phone;
            $('attend').val = app.AttendMeeting;
            $('question1').val = app.Question1;
            $('question2').val = app.Question2;
            $('question3').val = app.Question3;
        }
    </script>
