﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>Capitol Women</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Invent Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="~/Content/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/Content/css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="~/Content/css/font-awesome.css" rel="stylesheet"> <!-- font-awesome icons -->
    <link href='~/Content/css/simplelightbox.css' rel='stylesheet' type='text/css'>
    <link href='http://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css' rel='stylesheet' type='text/css'>

    <!-- //Custom Theme files -->
    <!-- js -->
    <script src="~/Content/js/jquery-2.2.3.min.js"></script>
    <script src="http://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <!-- //js -->
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- //web-fonts -->
</head>
<body>
    @if (ViewBag.Msg == null)
    {

    }
    else
    {
        <div class="navbar navbar-inverse" style="border-radius:0px;">
            <p class="text-center" style="padding-top:20px;"><b>@ViewBag.Msg</b></p>
        </div>
    }
    
    <!-- banner -->
    <div class="agileits-banner">
        <!-- navigation -->
        <div class="top-nav w3-agiletop">
            <div class="container">
                <div class="navbar-header w3llogo">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img src="~/Content/images/logo.png" width="150" height="60" />
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <div class="w3menu navbar-left">
                        <ul class="nav navbar">
                            <li><a href="@Url.Action("Index","Home")" class="active">Home</a></li>
                            <li><a href="@Url.Action("About","Home")">About Founder</a></li>
                            @*<li>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span data-letters="Pages">Pages</span><span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="icons.html">Web Icons</a></li>
                                        <li><a href="codes.html">Short Codes</a></li>
                                    </ul>
                                </li>*@
                            <li><a data-toggle="modal" data-target="#exampleModal">Are you a Capitol Woman?</a></li>
                        </ul>
                    </div>
                    <div class="w3ls-bnr-icons social-icon navbar-right">
                        <a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="social-button dribbble"><i class="fa fa-dribbble"></i></a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <!-- //navigation -->
        @RenderBody()
        <div class="modal fade" id="exampleModal" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="@Url.Action("AddApplication","Home")" method="post">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel">Register Yourself to become a part of Capitol Women.</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Name:</label>
                                <input onchange="return trim(this)" type="text" class="form-control" name="Name" id="recipient-name" required>
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Date Of Birth:</label>
                                <input onchange="return trim(this)" type="date" class="form-control" name="DOB" id="recipient-name" required>
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Phone(format: xxxx-xxx-xxxx)</label>
                                <input onchange="return trim(this)" pattern="^\d{4}-\d{3}-\d{4}$" type="text" class="form-control" name="Phone" id="recipient-name" required>
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Email:</label>
                                <input onchange="return trim(this)" type="Email" class="form-control" name="Email" id="recipient-name" required>
                            </div>

                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Have you ever attended a Town hall meeting?</label><br />
                                <input type="radio" name="AttendMeeting" value="Yes" checked> Yes<br>
                                <input type="radio" name="AttendMeeting" value="No"> No<br>
                            </div>

                            <div class="form-group">
                                <label for="message-text" class="control-label">Have you ever participated in a Leadership program? If yes which program?</label>
                                <textarea onchange="return trim(this)" class="form-control" id="message-text" name="Question1" required></textarea>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="control-label">What describes you more Candidate,Campaign Manager or Volunteer?</label>
                                <textarea onchange="return trim(this)" class="form-control" id="message-text" name="Question2" required></textarea>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="control-label">Why do you think it is important that women run for office?</label>
                                <textarea onchange="return trim(this)" class="form-control" id="message-text" name="Question3" required></textarea>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn" data-dismiss="modal" style="background-color:#00AEC5; color:white; font-weight:bold;">Close</button>
                            <button type="submit" class="btn" style="background-color:deeppink; color:white; font-weight:bold;">Send message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div class="footer">
            <div class="container">
                <div class="footer-row w3l-newsletter">
                    <div class="col-md-6 w3_agile_newsletter_left">
                        <h4 style="color:deeppink;">We Are Capital Women...</h4>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="footer-bottom">
                    <div class="col-sm-4 col-xs-4 footer-grids">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam.
                        </p>
                        <h6>Erica<a href="#"> Thomas.</a> </h6>
                    </div>
                    <div class="col-sm-4 col-xs-4 footer-grids footer-mdl">
                        <div class="col-md-12 col-xs-12 grid-left">
                            <ul>
                                <li><a href="@Url.Action("Index","Home")"><i class="fa fa-angle-right"></i>Home</a></li>
                                <li><a href="@Url.Action("About","Home")"><i class="fa fa-angle-right"></i>About Founder</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="col-sm-4 col-xs-4 footer-grids">
                        <ul>
                            <li class="phn"><i class="fa fa-phone"></i>1111-111-111</li>
                            <li><a href="mailto:example@mail.com"><i class="fa fa-envelope-o"></i> mail@example.com</a></li>
                        </ul>
                        <p>© 2017 Capitol Woman . All rights reserved | Devloped by <a href="http://www.ubssols.com">UBS Solutions.</a></p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <!-- Stats -->
        <script src="~/Content/js/waypoints.min.js"></script>
        <script src="~/Content/js/counterup.min.js"></script>
        <script>
            jQuery(document).ready(function ($) {
                $('.counter').counterUp({
                    delay: 10,
                    time: 2000
                });
            });
        </script>
        <!-- //Stats -->
        <!-- start-smooth-scrolling -->
        <script src="~/Content/js/SmoothScroll.min.js"></script>
        <script type="text/javascript" src="~/Content/js/move-top.js"></script>
        <script type="text/javascript" src="~/Content/js/easing.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $(".scroll").click(function (event) {
                    event.preventDefault();

                    $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
                });
            });
            function trim(el) {
                el.value = el.value.
                    replace(/(^\s*)|(\s*$)/gi, ""). // removes leading and trailing spaces
                    replace(/[ ]{2,}/gi, " ").       // replaces multiple spaces with one space
                    replace(/\n +/, "\n");           // Removes spaces after newlines
                return;
            }
        </script>
        <!-- //end-smooth-scrolling -->
        <!-- smooth-scrolling-of-move-up -->
        <script type="text/javascript">
            $(document).ready(function () {
                /*
                var defaults = {
                    containerID: 'toTop', // fading element id
                    containerHoverID: 'toTopHover', // fading element hover id
                    scrollSpeed: 1200,
                    easingType: 'linear'
                };
                */

                $().UItoTop({ easingType: 'easeOutQuart' });

            });
        </script>
        <!-- //smooth-scrolling-of-move-up -->
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="~/Content/js/bootstrap.js"></script>
</body>
</html>