﻿@{
    ViewBag.Title = "About";
}
<div class="banner-w3text w3layouts aboutw3l-bnrtext">
    <h2><span style="color:deeppink;">ABOUT FOUNDER</span></h2>
</div>
	</div>
<!-- //banner -->
<!-- about -->
<div class="about">
    <div class="container">
        <h3 class="agileits-title" >About Founder</h3>
        <div class="about-agileinfo">
            <div class="col-md-6 agileits_about_right">
                <div class="w3ls_about_right thumbnail">
                    <img src="~/Content/images/Erica1.jpg" alt=" " class="img-responsive" />
                </div>
            </div>
            <div class="col-md-6 agileits_about_left">
                <h1 style="color:deeppink;">The Honorable Erica Thomas
Georgia State Representative, District 39
</h1>
                <p class="w3l_para">
                    The Honorable Erica Thomas​ has taken an fastidious global
                    approach to the economic and environmental development of the
                    world. As an innovative trailblazer and entrepreneur with a passion
                    for inspiring others, Rep. Thomas has founded two nonprofits
                    focusing on public speaking, leadership development, training and
                    advocacy. Speak Out Loud, a local nonprofit is dedicated to giving a
                    voice to foster children who have been silenced by their
                    circumstances. Speak Out Loud has expanded and organized across
                    the country and has chapters in Botswana and Nigeria.<br />
                    Thomas is an author speaker, mentor, philanthropist and Georgia
                    State Representative, representing Georgia's 39th house district in
                    Cobb County. At the age of 29, Rep. Thomas remains one the
                    youngest members of the Georgia General Assembly while gaining
                    national recognition as the nation's first orphan to hold political office and the sixth youngest State
                    Representative in America.

                </p>
            </div>
            <div class="col-md-12">
                <p>
                    In 2013, Rep. Thomas was awarded the Ambassador for Peace Award from the Global Peace Foundation.
                    She has also worked to establish libraries in various locations in Africa. Thomas has was awarded the 100
                    Black Men of America's Image award, Who's Who of Atlanta Most Influential and recently (2016), TV
                    One's Triumph Award through the National Action Network founded by The Rev. Al Sharpton.
                    Additionally, she is the co-founder of Young Professionals of Cobb County. As she is soaring through
                    life, Rep. Thomas is currently in flight school and is ranked as a Major in the United States Air Force
                    Civil Air Patrol.<br />
                    Her philanthropic interests are centered around the goals of education and child safety. One of her lifelong
                    interests was the establishment libraries in Africa and she is now working to build an orphanage in
                    Dibette Village, Botswana. Rep. Thomas has traveled all over Africa helping orphans for this is her life's
                    work. She resides in Austell, GA with her daughter Dakota.
                </p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //about -->
