﻿@{
    ViewBag.Title = "Home Page";
}

<div class="banner-w3text w3layouts">
    <h2>Capitol <span style="color:deeppink;"> Women</span></h2>
    <div class="wthree-bnr-login">
        <form action="@Url.Action("AddNewsLetter","Home")" method="post">
            <ul>
                <li><input onchange="return trim(this)" type="text" name="Name" placeholder="Your Name" required=""></li>
                <li><input onchange="return trim(this)" type="email" name="Email" placeholder="Your Email" required=""> </li>
                <li><input type="submit" value="NewsLetter"></li>
            </ul>
        </form>
    </div>
    <h6>It's a political training website for women for the training, get their assignment and video training for the week.
</h6>
</div>
	</div>
<!-- //banner -->
<!-- banner-bottom -->
<div class="banner-bottom w3-agileits-bnr-btm">
    <div class="col-sm-6 col-xs-6 bnr-btm-left">
        <br />
        <h5>Are you a Capitol Woman sign up for our next Training?</h5>
        <p><a href="#exampleModal" data-toggle="modal" data-target="#exampleModal" style="color:white; font-weight:bold;"> Sign Up </a></p><br />
    </div>
    <div class="col-sm-6 col-xs-6 bnr-btm-right">
        <br />
        <h5>Sponsor a Capitol Women</h5>
        <p><a href="#exampleModal" data-toggle="modal" data-target="#exampleModal" style="color:white; font-weight:bold;"> Sign Up </a></p><br />
    </div>
    <div class="clearfix"> </div>
</div>
<!-- //banner-bottom -->
<!-- about -->
<div class="about">
    <div class="container">
        <h3 class="agileits-title">About Us</h3>
        <div class="about-agileinfo">
            <div class="col-md-6 agileits_about_right">
                @*<div class="w3ls_about_right">
                    <img src="images/img2.jpg" alt=" " class="img-responsive" />
                    <div class="w3ls_about_right_pos">
                        <img src="images/img1.jpg" alt=" " class="img-responsive" />
                    </div>
                </div>*@
                    @*<video controls width="500" height="400">
                        <source src="~/Content/images/CAP%20WOMEN%202018%20REV.mp4" type="video/mp4" />
                    </video>*@
                <div class="">
                    <iframe src="https://player.vimeo.com/video/246078969" width="500" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6 agileits_about_left">
                <br />
                <h1 style="color:deeppink;">We Are Capital Women</h1>
                <p class="w3l_para">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                </p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //about -->
<!-- gallery -->
<div class="gallery w3-agileits">
    <div class="container">
        <h3 class="agileits-title">Our Gallery</h3>
        <div class="agileinfo-gallery-row">
            <div class="col-md-4 col-sm-4 col-xs-6 w3gallery-grids">
                <a href="~/Content/images/g1.jpg" class="imghvr-hinge-right wthree">
                    <img src="~/Content/images/g1.jpg" class="img-response" alt="" title="Capitol Woman Image" />
                    <div class="agile-figcaption">
                        <h4>Capitol Woman</h4>
                        <p>Phasellus elementum ullamcorper urna, eu rhoncus.</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 w3gallery-grids">
                <a href="~/Content/images/g2.jpg" class="imghvr-hinge-right wthree">
                    <img src="~/Content/images/g2.png" alt="" class="img-response" title="Capitol Woman Image" />
                    <div class="agile-figcaption">
                        <h4>Capitol Woman</h4>
                        <p>Phasellus elementum ullamcorper urna, eu rhoncus.</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 w3gallery-grids">
                <a href="~/Content/images/g3.jpg" class="imghvr-hinge-right wthree">
                    <img src="~/Content/images/g3.jpg" alt="" class="img-response" title="Capitol Woman Image" />
                    <div class="agile-figcaption">
                        <h4>Capitol Woman</h4>
                        <p>Phasellus elementum ullamcorper urna, eu rhoncus.</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 w3gallery-grids">
                <a href="~/Content/images/g4.jpg" class="imghvr-hinge-right wthree">
                    <img src="~/Content/images/g4.jpg" alt="" class="img-response" title="Capitol Woman Image" />
                    <div class="agile-figcaption">
                        <h4>Capitol Woman</h4>
                        <p>Phasellus elementum ullamcorper urna, eu rhoncus.</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 w3gallery-grids">
                <a href="~/Content/images/g5.jpg" class="imghvr-hinge-right wthree">
                    <img src="~/Content/images/g5.jpg" alt="" class="img-response" title="Capitol Woman Image" />
                    <div class="agile-figcaption">
                        <h4>Capitol Woman</h4>
                        <p>Phasellus elementum ullamcorper urna, eu rhoncus.</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 w3gallery-grids">
                <a href="~/Content/images/g6.jpg" class="imghvr-hinge-right wthree">
                    <img src="~/Content/images/g6.jpg" alt="" class="img-response" title="Capitol Woman Image" />
                    <div class="agile-figcaption">
                        <h4>Capitol Woman</h4>
                        <p>Phasellus elementum ullamcorper urna, eu rhoncus.</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 w3gallery-grids">
                <a href="~/Content/images/g7.jpg" class="imghvr-hinge-right wthree">
                    <img src="~/Content/images/g7.jpg" alt="" class="img-response" title="Capitol Woman Image" />
                    <div class="agile-figcaption">
                        <h4>Capitol Woman</h4>
                        <p>Phasellus elementum ullamcorper urna, eu rhoncus.</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 w3gallery-grids">
                <a href="~/Content/images/img1.jpg" class="imghvr-hinge-right wthree">
                    <img src="~/Content/images/img1.jpg" alt="" class="img-response" title="Capitol Woman Image" />
                    <div class="agile-figcaption">
                        <h4>Capitol Woman</h4>
                        <p>Phasellus elementum ullamcorper urna, eu rhoncus.</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 w3gallery-grids">
                <a href="~/Content/images/img2.jpg" class="imghvr-hinge-right wthree">
                    <img src="~/Content/images/img2.jpg" alt="" class="img-response" title="Capitol Woman" />
                    <div class="agile-figcaption">
                        <h4>Capitol Woman</h4>
                        <p>Phasellus elementum ullamcorper urna, eu rhoncus.</p>
                    </div>
                </a>
            </div>
            <div class="clearfix"> </div>
            <script type="text/javascript" src="~/Content/js/simple-lightbox.min.js"></script>
            <script>
					$(function(){
						var gallery = $('.agileinfo-gallery-row a').simpleLightbox({navText:['&lsaquo;','&rsaquo;']});
					});
            </script>
        </div>
    </div>
</div>
<!-- //gallery -->  
<!-- events -->
<div class="events">
    <div class="container">
        <h3 class="agileits-title">Our Latest Events</h3>
        <div class="agile_banner_bottom_grids">
            <div class="col-sm-6 col-xs-6 agile_events_grid">
                <img src="images/img1.jpg" alt=" " class="img-responsive" />
                <div class="agile_events_grid_pos agile_events_grid_pos1">
                    <h5><span>01</span> 02 / 2017</h5>
                    <h4><a href="single.html">nunc malesuada lacinia</a></h4>
                    <p>
                        Nunc non maximus augue, sit amet dictum diam. Etiam ultrices hendrerit sapien,
                        id volutpat tortor viverra et.
                    </p>
                </div>
                <div class="agileits_w3layouts_events_grid_social">
                    <div class="social-icon evnts-w3lsicons">
                        <a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-button dribbble"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-6 agile_events_grid">
                <img src="images/img2.jpg" alt=" " class="img-responsive" />
                <div class="agile_events_grid_pos_sub agile_events_grid_pos1">
                    <h5 class="w3_agileits_event_head"><span>05</span> 02 / 2017</h5>
                    <h4><a href="single.html">consequat dictum sodales</a></h4>
                    <p>
                        Nunc non maximus augue, sit amet dictum diam. Etiam ultrices hendrerit sapien,
                        id volutpat tortor viverra et.
                    </p>
                </div>
                <div class="agileits_w3layouts_events_grid_social">
                    <div class="social-icon evnts-w3lsicons">
                        <a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-button dribbble"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //events -->
<!-- services -->
<div class="services">
    <div class="container">
        <h3 class="agileits-title">As Seen On</h3>
        <div class="services-row-agileinfo">
            <div class="col-sm-4 col-xs-6 services-w3grid">
                <img src="~/Content/images/logo1.png" />
                <h5>Univision</h5>
                <p></p>
            </div>
            <div class="col-sm-4 col-xs-6 services-w3grid">
                <img src="~/Content/images/logo2.png" width="85" height="85"/>
                <h5>BBC News</h5>
                <p></p>
            </div>
            <div class="col-sm-4 col-xs-6 services-w3grid">
                <img src="~/Content/images/logo3.png"  width="85" height="85"/>
                <h5>Fox News</h5>
                <p></p>
            </div>
            <div class="col-sm-4 col-xs-6 services-w3grid bottom-grids wow fadeInUp animated" data-wow-delay=".5s">
                <img src="~/Content/images/logo4.png" />
                <h5>HuffPost News</h5>
                <p></p>
            </div>
            <div class="col-sm-4 col-xs-6 services-w3grid bottom-grids">
                <img src="~/Content/images/logo5.png" />
                <h5>iHeart Radio</h5>
                <p></p>
            </div>
            <div class="col-sm-4 col-xs-6 services-w3grid bottom-grids">
                <img src="~/Content/images/logo6.png" />
                <h5>abc News</h5>
                <p></p>
            </div>
            <div class="col-sm-4 col-xs-6 services-w3grid bottom-grids wow fadeInUp animated" data-wow-delay=".5s">
                <img src="~/Content/images/logo7.png" />
                <h5>NPR News</h5>
                <p></p>
            </div>
            <div class="col-sm-4 col-xs-6 services-w3grid bottom-grids">
                <img src="~/Content/images/logo8.png" />
                <h5>NBC News</h5>
                <p></p>
            </div>
            <div class="col-sm-4 col-xs-6 services-w3grid bottom-grids">
                
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //services -->