/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	margin:0;
	font-family: 'Roboto', sans-serif;
	background: #fff;  
}
body a{ 
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	transition: 0.5s all;
	text-decoration:none;
	outline:none;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
	font-family: 'Open Sans Condensed', sans-serif;
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover,body a:focus {
	text-decoration:none;
	outline: none;
} 
/*-- banner --*/
.agileits-banner {
    background: url('../images/bg.jpg')no-repeat center 0px;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    position: relative;
} 
/*-- logo --*/
.w3llogo h1 {
    font-size: 3.2em;
    margin-top: .25em;
    line-height: 0.8em;
    font-weight: 900;
}
.w3llogo h1 a {
    display: inline-block;
    color: #00aec5;
    letter-spacing: 2px;
}
.w3llogo h1 a span.glyphicon{
    color: rgba(255, 87, 34, 0.41);
    font-size: 0.7em;
    margin-right: -8px;
}
/*-- //logo --*/
/*-- top-nav --*/
.w3menu.navbar-left {
    margin-left: 12em;
}
.top-nav {
    z-index: 999;  
	background:#fff;
}
nav.navbar.navbar-default {
    background-color: inherit;
    border: none;
    margin: 0;
}
ul.nav.navbar {
    text-align: center;
    margin: 0;
    min-height: inherit;
    background: url(../images/bg.jpg)no-repeat center 0px;
    background-size: cover;
    border-radius: 0;
    border: none;
}
.top-nav ul li { 
    display: inline-block;
	float: left;
} 
/* Effect 11: text fill based on Lea Verou's animation http://dabblet.com/gist/6046779 */
.top-nav ul li a {
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1.1em;
    color: deeppink;
    position: relative;
    font-weight: 400;
    padding: 1.3em 2em;
    display: inline-block;
    background: #fff;
	-webkit-transition:.5s all;
	-moz-transition:.5s all; 
	transition:.5s all;
}
.nav > li > a:hover, .nav > li > a:focus {
    background: none;
} 
.top-nav ul li a:hover, .top-nav ul li a.active {
    background: transparent;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color:#00aec5;
}
.top-nav .open > .dropdown-menu {
    display: block;
    text-align: left;
    padding: 0;
    margin: 0;
	background: transparent;
}
.top-nav .open > .dropdown-menu li {
    margin: 0;
    display: block;
    float: none;
}
.top-nav .open > .dropdown-menu li a {
    display: block; 
    font-size: .9em;
	padding: 1em 1em;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #ff5722;
    border: none;
	color: #fff;
}
/*-- //top-nav --*/
/*-- social-icons --*/ 
.w3ls-bnr-icons.social-icon {
    margin: 1.4em 0;
}
.social-icon a {
    font-size: 1em;
    color: #00aec5;
    margin: 0 .6em;
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 999;
}
.social-icon a:hover {
    color: #FF5722;
} 
/*-- //social-icons --*/
/*-- banner-text --*/
.banner-w3text.w3layouts {
    padding:18em 0;
}
.banner-w3text h2 {
    font-size: 5em;
    color: #222; 
    text-align: center;
}
.banner-w3text h2 span {
    font-weight: 900;
    color: rgba(255, 87, 34, 0.54);
}
.banner-w3text  h6 {
    font-size: 1em;
    color: #222; 
    text-align: center;
    letter-spacing: 5px;
	font-weight: 700;
}
.wthree-bnr-login ul li {
    display: inline-block;
    width: 32%;
}
.wthree-bnr-login ul li:nth-child(2){
    margin:0 1.2em;
}
.wthree-bnr-login {
    width: 75%;
    margin: 3em auto;
}
.banner-w3text input[type="text"],.banner-w3text input[type="email"]{
    border: 1px solid #222;
    font-size: 1em;
    color: #222;
    background: none;
    width: 100%;
    padding: .8em 1.5em;
    outline: none;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px; 
	-o-border-radius: 35px;
	-ms-border-radius: 35px;  
    border-radius: 35px;
}
.banner-w3text input[type="submit"] {
    outline: none;
    color: #fff;
    padding: .8em 0;
    width: 100%;
    font-size: 1em; 
    -webkit-appearance: none;
    background: #00aec5;
    border: solid 1px #00aec5;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px; 
	-o-border-radius: 35px;
	-ms-border-radius: 35px;  
    border-radius: 35px;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
.banner-w3text input[type="submit"]:hover {
    background-color: transparent;
    color: #00aec5;
    letter-spacing: 5px;
}
/*-- //banner-text --*/
/*-- banner-bottom --*/
.bnr-btm-left ,.bnr-btm-right{
    text-align: center;
    background-color: #009eb3;
	padding: 2em;
}
.bnr-btm-right{
	background-color: #00aec5;
}
.bnr-btm-left:after {
    position: absolute;
    top: 0;
    right: -53px;
    content: '';
    border-top: 0px solid transparent;
    border-bottom: 154px solid transparent;
    border-left: 53px solid #009eb3;
    z-index: 1;
}
.banner-bottom h5{
    font-size: 1.8em;
    color: #fff;
}
.banner-bottom p {
    font-size: 1em;
    color: #fff;
    width: 53%;
    margin: 1em auto 0;
    line-height: 2em;
    letter-spacing: 6px;
}
/*-- //banner-bottom --*/
/*-- about --*/
.about,.events,.services,.team,.gallery,.contact,.codes{
	padding:5em 0;
}
h3.agileits-title {
    font-size: 3.5em;
    color: #fff;
    text-transform: capitalize;
    font-weight: 300;
    padding: 0.1em 0.8em;
    border-left: 6px solid #0191a4;
    background: #00aec5;
    display: inline-block;
    letter-spacing: 2px;
    margin-bottom: 1em;
}
p{
	font-size:1em;
	color: #999;
    line-height: 1.8em; 
}
.agileits_about_left p.w3l_para{ 
    margin: 0 3em 2.5em 0;
}
.agileits_about_right {
    padding: 0 8em 0 0;
    position: relative;
}
.w3ls_about_right_pos {
    position: absolute;
    top: 23%;
    right: 8%;
    width: 80%;
}
.w3l_social_icon_grid{
	position:relative;
}
.w3l_social_icon_gridl{
	float: left;
    width: 62px;
    height: 62px;
    text-align: center; 
}
.w3l_social_icon_gridl a {
    font-size: 1.5em;
    line-height: 2.8em;
    display: block;
	color:#FF5722;
	border: 2px solid #FF5722;
} 
.w3l_social_icon_gridr {
    float: left;
    margin: 0.8em 0 0 9em;
}
.w3l_social_icon_gridr p{
	font-size: 1.5em;
    color: #212121;
    font-weight: bold;
}
.w3l_social_icon_grid_pos{
	position: absolute;
    top: 25%;
    left: 23%;
}
.w3l_social_icon_grid_pos label{
	font-size:1.5em;
	color:#212121;
}
.w3ls_social_icon_grid {
    margin: 2em 0;
}
/*-- //about --*/
/*-- services --*/
.services {
    background: #d9edf7;
}
.services-w3grid {
    text-align: center;
} 
/*-- Effect 1 --*/
.services-w3grid span {
    font-size: 1.5em;
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    text-decoration: none;
    z-index: 1;
    padding: 1em;
	background: #FF5722;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-ms-transition:.5s all;
	-o-transition:.5s all;
	transition:.5s all;
}  
.hi-icon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
	top: -8px;
    left: -8px;
    padding: 8px;
    z-index: -1;
    opacity: 0;
	-webkit-box-shadow:3px 3px #FF5722;
	-moz-box-shadow:3px 3px #FF5722;
	-ms-box-shadow:3px 3px #FF5722;
	-o-box-shadow:3px 3px #FF5722;
	box-shadow:3px 3px #FF5722;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    -moz-transition: opacity 0.2s, -moz-transform 0.2s;
    transition: opacity 0.2s, transform 0.2s;
} 
.services-w3grid:hover .hi-icon:after {
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
.services-w3grid  span.hi-icon:before { 
    -webkit-transition:.5s all;
	-moz-transition:.5s all;
	-ms-transition:.5s all;
	-o-transition:.5s all;
	transition:.5s all;
}
.services-w3grid:hover span.hi-icon:before {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1.2);
    opacity: 1;
    display: inline-block; 
}
/*-- //Effect 1 --*/
.services-w3grid h5 {
    font-size: 1.6em;
    margin: 0.8em 0 .5em;
    color: #00aec5;
    font-weight: bold;
}
.services-w3grid p { 
    color: #555; 
}
.services-w3grid.bottom-grids {
    margin-top: 3em;
}
/*-- //services --*/
/*-- events --*/
.events{
	position:relative; 
}
.agile_events_grid{
	width:45%;
	margin:0 auto;
	position:relative;
}
.agile_events_grid_pos1 {
    width: 100%;
    border-bottom: 2px solid deeppink;
} 
.agile_events_grid_pos1 h4 a{
	font-size: 1.1em;
    letter-spacing: 3px;
    color: #212121;
    text-transform: capitalize;
    line-height: 1.5em;
    font-weight: 600;
    text-decoration: none;
}
.agile_events_grid_pos1 h4 a:focus{
	outline:none;
}
.agile_events_grid_pos1 h4 a:hover{
	color:#fa3d03;
}
.agile_events_grid_pos1 h4{
	margin:1em 0 .3em;
}
.agile_events_grid_pos1 p{
	color:#999;
	line-height:2em;
}
.agile_events_grid_pos1{
    padding: 2em;
    background: #f5f5f5;
}
.agile_events_grid_pos1 h5{
	font-size: 1em;
    color: #00aec5;
    font-weight: 600;
    position: relative; 
}
.agile_events_grid_pos1 h5 span{
	font-size: 3em;
    padding-right: 0.5em;
}
.agile_events_grid_pos1 h5:after {
    content: '';
    background: #00aec5;
    height: 2px;
    width: 18%;
    position: absolute;
    top: 50%;
    left: -1%;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
} 
.agileits_w3layouts_events_grid_social, .agileits_w3layouts_events_grid_social1 {
    position: absolute;
    top: 15%;
    background: deeppink;
    padding: 1em;
    right: 2.9%;
} 
.social-icon.evnts-w3lsicons a {
    display: block;
    margin: 1em 0; 
	color:#fff; 
}
.social-icon.evnts-w3lsicons a:hover{ 
	-webkit-transform:rotatey(180deg);
	-moz-transform:rotatey(180deg);
	-o-transform:rotatey(180deg);
	-ms-transform:rotatey(180deg); 
	transform:rotatey(180deg);
	color:#313131;
}
.social-icon.evnts-w3lsicons a.social-button.facebook {
    margin: 1.5em 0;
}
/*-- //events --*/
/*-- footer --*/
.footer {
    padding: 4em 0;
    background-color: #2E2E2E;
}
/*-- newsletter --*/
.w3l-newsletter input[type="email"] {
    border: 1px solid #fff;
    font-size: 1em;
    color: #fff;
    background: none;
    width: 60%;
    padding: .8em 1.5em;
    outline: none;
    -webkit-border-radius: 35px 0 0 35px;
    -moz-border-radius: 35px 0 0 35px;
    -o-border-radius: 35px 0 0 35px;
    -ms-border-radius: 35px 0 0 35px;
    border-radius: 35px 0 0 35px;
}
.w3l-newsletter input[type="submit"] {
    outline: none;
    color: #fff;
    padding: .8em 0;
    width: 35%;
    font-size: 1em;
    -webkit-appearance: none;
    margin-left: 1em;
    background: #00aec5;
    border: solid 1px #00aec5;
    -webkit-border-radius: 0 35px 35px 0;
    -moz-border-radius: 0 35px 35px 0;
    -o-border-radius: 0 35px 35px 0;
    -ms-border-radius: 0 35px 35px 0;
    border-radius: 0 35px 35px 0;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    text-transform: uppercase;
}
.w3l-newsletter input[type="submit"]:hover {
    background-color: transparent;
    color: #00aec5;
    letter-spacing: 3px;
}
/*-- //newsletter --*/
.footer ul li a { 
    color: #fff;
}
.footer ul li a:hover{
    color:#00aec5;
}
.footer-row {
    padding-bottom: 1.5em;
}
.footer-bottom {
    border-top: 1px solid #fff;
    padding: 2.5em 0 0;
}
.footer-grids:nth-child(1) {
    padding-left: 0;
}
.footer-grids ul li {
    display: block;
    margin-bottom: 1em;
	color:#fff;
	font-size: 1em;
}
.footer-grids ul li:nth-child(4) {
    margin: 0;
}
.footer-grids ul  li.phn {
    font-size: 1.1em;
}
.footer-grids i.fa{
    margin-right: 0.6em;
}
.footer-row h4 {
    font-size: 2.5em;
    color: #ff5722;
}
.footer p {
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
}
.footer-grids.footer-mdl {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 0 4em;
}
.footer-grids:nth-child(3) {
    padding: 0 2em 0 4em;
}
.footer-grids h6 {
    font-size: 1.4em;
    color: #fff;
    margin-top: 1em;
    letter-spacing: 3px;
}
.footer-grids h6 a,.footer p a{ 
	color: #00aec5;
}
.footer-grids h6 a:hover,.footer p a:hover{ 
	color: #fff;
}
/*-- //footer --*/
/*-- slider-up-arrow --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 3%;
	right: 3%;
	overflow: hidden;
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url("../images/move-up.png") no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //slider-up-arrow --*/ 
/*-- about page --*/ 
.agileits-banner.w3-agileabout-banner {
    background-position: center center;
}
.banner-w3text.w3layouts.aboutw3l-bnrtext {
    padding: 5em 0; 
}
.about-w3slid {
    background: url(../images/bg1.jpg)no-repeat center 0px fixed;
    background-size: cover;
    padding: 5em 0;
	text-align: center;
}
.about-w3slid h3 {
    font-size: 4em;
    color: #fff;
    letter-spacing: 10px; 
    text-transform: uppercase;
}
a.agile-more {
    font-size: 1em;
    color: #fff;
    display: inline-block;
    padding: 0.6em 2em;
    border: 2px solid;
    margin-top: 2.5em;
}
a.agile-more:hover{ 
    color: #FF5722;
	-webkit-transform: scale(.9);
	-moz-transform: scale(.9);
	-o-transform: scale(.9);
	-ms-transform: scale(.9);
	transform: scale(.9);
}
/*-- //about page --*/ 
/*-- team --*/
.agileits_w3layouts_head{
	font-size:2.2em;
	color:#212121;
	text-align:center;
	text-transform:capitalize;
}
.agileits_w3layouts_head span{
	display: inline-block;
    padding: .3em 0;
    border-top: 2px solid #e60004;
    border-bottom: 2px solid #e60004;
}
.w3_agileits_para{
	margin:1em 0 0;
	color:#3fc8ef;
	text-align:center;
}  
.wthree_team_grid_left{
	overflow:hidden;
	position:relative;
}
.wthree_team_grid_left img {
    -webkit-transition: -webkit-transform 400ms ease;
    -moz-transition: -moz-transform 400ms ease;
    transition: transform 400ms ease;
	-webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.wthree_team_grid_left:hover img {
    -webkit-transition-duration: 6s; 
    -moz-transition-duration: 6s;
	transition-duration: 6s;
	-webkit-transform: scale(1.1);
    -moz-transform: scale(1.1); 
    transform: scale(1.1);
} 
.w3l_banner_figure p a {
    display: inline-block;
    color: #fff;
    font-size: 0.9em;
    margin: 0 5px; 
}
.w3l_banner_figure p a:hover{ 
    color: #222; 
}
/*-- image-hover --*/ 
.wthree_team_grid_left figure {
	position: relative;
    float: none;
    overflow: hidden;
    text-align: center;
} 
.wthree_team_grid_left figure img {
	position: relative;
	display: block;
	opacity: 0.8;
} 
.wthree_team_grid_left figure .w3l_banner_figure {
	padding: 2em;
	color: #fff;
	text-transform: uppercase; 
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
	text-align: left;
} 
.wthree_team_grid_left figure .w3l_banner_figure::before,
.wthree_team_grid_left figure .w3l_banner_figure::after {
	pointer-events: none;
} 
 
/***** Julia *****/
/*---------------*/

figure.effect-julia {
	background: #2f3238;
} 
figure.effect-julia p {
	display: inline-block;
	margin: 0 0 0.25em;
	padding: 0.4em 1em;
	background: rgba(0, 210, 255, 0.52);
    color: #fff;
	text-transform: none;
	font-weight: 500;
	font-size:1em;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-360px,0,0);
	-moz-transform: translate3d(-360px,0,0);
	-o-transform: translate3d(-360px,0,0);
	-ms-transform: translate3d(-360px,0,0);
	transform: translate3d(-360px,0,0);
}

figure.effect-julia p:first-child {
	-webkit-transition-delay: 0.15s;
	-moz-transition-delay: 0.15s;
	-o-transition-delay: 0.15s;
	-ms-transition-delay: 0.15s;
	transition-delay: 0.15s;
} 
figure.effect-julia:hover p:first-child {
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
	-ms-transition-delay: 0s;
	transition-delay: 0s;
}

figure.effect-julia:hover .w3ls-bnr-icons:nth-of-type(2) {
	-webkit-transition-delay: 0.05s;
	-moz-transition-delay: 0.05s; 
	transition-delay: 0.05s;
}

figure.effect-julia:hover p:nth-of-type(3) {
	-webkit-transition-delay: 0.1s;
	-moz-transition-delay: 0.1s;
	-o-transition-delay: 0.1s;
	-ms-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-julia:hover img {
	opacity: 0.4;
}

figure.effect-julia:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
/*-- //team --*/
/*-- gallery --*/ 
.w3gallery-grids {
    padding: 1em;
}  
/*-- imghvr-hinge --*/
[class^='imghvr-'],
[class*=' imghvr-'] {
	position: relative;
	display: inline-block;
	margin: 0px;
	max-width: 100%;
	background-color:#00aec5;
	color:#212121;
	overflow: hidden;
	-webkit-backface-visibility: hidden; 
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-o-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	cursor: pointer;
	border: 1px dashed #fff;
}
[class^='imghvr-'] > img,
[class*=' imghvr-'] > img {
	vertical-align: top;
	max-width: 100%;
}
[class^='imghvr-'] .agile-figcaption,
[class*=' imghvr-'] .agile-figcaption {
	background-color:#00aec5;
	padding:4.5em;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color:#212121;
	text-align: center;
} 
[class^='imghvr-'] .agile-figcaption h4 {
    font-size: 3em;
    margin-bottom: .3em;
}
[class^='imghvr-'] .agile-figcaption p{
	line-height:2em;
	color:#fff;
}
[class^='imghvr-'] a,
[class*=' imghvr-'] a {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
[class^='imghvr-'],
[class*=' imghvr-'],
[class^='imghvr-']:before,
[class^='imghvr-']:after,
[class*=' imghvr-']:before,
[class*=' imghvr-']:after,
[class^='imghvr-'] *,
[class*=' imghvr-'] *,
[class^='imghvr-'] *:before,
[class^='imghvr-'] *:after,
[class*=' imghvr-'] *:before,
[class*=' imghvr-'] *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
[class^='imghvr-hinge-'],
[class*=' imghvr-hinge-'] {
	-webkit-perspective: 50em;
	perspective: 50em;
}
[class^='imghvr-hinge-'] .agile-figcaption,
[class*=' imghvr-hinge-'] .agile-figcaption {
	opacity: 0;
	z-index: 1;
}
[class^='imghvr-hinge-']:hover img,
[class*=' imghvr-hinge-']:hover img {
	opacity: 0;
}
[class^='imghvr-hinge-']:hover .agile-figcaption,
[class*=' imghvr-hinge-']:hover .agile-figcaption {
	opacity: 1;
	-webkit-transition-delay: 0.21s;
	-moz-transition-delay: 0.21s;
	-o-transition-delay: 0.21s;
	-ms-transition-delay: 0.21s;
	transition-delay: 0.21s;
}
 
/*-- imghvr-hinge-right -- */
.imghvr-hinge-right img {
	-webkit-transform-origin: 100% 50%;
	-ms-transform-origin: 100% 50%;
	-moz-transform-origin: 100% 50%;
	-o-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}
.imghvr-hinge-right .agile-figcaption {
	-webkit-transform: rotateY(90deg);
	-moz-transform-origin: 0 50%;
	-o-transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;
	transform: rotateY(90deg);
	-webkit-transform-origin: 0 50%;
	-moz-transform-origin: 0 50%;
	-o-transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;
	transform-origin: 0 50%;
}
.imghvr-hinge-right:hover > img {
	-webkit-transform: rotateY(-90deg);
	-moz-transform: rotateY(-90deg);
	-o-transform: rotateY(-90deg);
	-ms-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
}
.imghvr-hinge-right:hover .agile-figcaption {
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);
}  
/*-- //gallery --*/ 
/*-- contact --*/
.contact-left iframe {
    width: 100%;
    min-height: 31.5em;
    border: none;
}
.contact input[type="text"] {
    width: 100%;
    color: #999;
    background: none;
    outline: none;
    font-size: 1em;
    padding: .8em 1em;
    margin-bottom: 1.5em;
    border: solid 1px #999;
    -webkit-appearance: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px; 
}
.contact textarea {
    resize: none;
    width: 100%;
    background: none;
    color: #999;
    font-size: .9em;
    outline: none;
    padding: .6em 1em;
    border: solid 1px #999;
    min-height: 14.8em;
    -webkit-appearance: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px; 
}
.contact input[type="submit"] { 
    outline: none;
    color: #fff;
    padding: .8em 4em;
    font-size: 1em;
    margin: 1em 0 0 0;
    -webkit-appearance: none;
    background: #ff5722;
    border: solid 1px #ff5722;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px; 
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all; 
	transition: 0.5s all;
}
.contact input[type="submit"]:hover {
    background: none;
    color: #ff5722;
	-webkit-transform: scale(.9);
	-moz-transform: scale(.9);
	-o-transform: scale(.9);
	-moz-transform: scale(.9);
    transform: scale(.9);
}
.contact input[type="text"]:hover,.contact input[type="text"]:valid ,.contact textarea:valid,.contact textarea:hover{
    border-color:#00aec5;
}
/*-- address --*/
.address-agileinfo {
    padding: 1em 0;
    margin-top: 3em;
    background: #00aec5;
    border: 8px double #fff;
}
.address-agileinfo ul{
	padding:0;
	margin:0;
}
.address-agileinfo ul li {
    list-style-type: none;
    font-size: 1em;
    color: #fff;
    display: inline-block;
    width: 33%;
    text-align: center;
}
.address-agileinfo ul li i.phon {
    font-size: 1.8em;
    color: #ffffff;
    margin-right: 0.5em;
    font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 2px;
}
.address-agileinfo ul li i.glyphicon {
    font-size: 1em;
    color: #fff;
    margin-right: 0.5em;
}
.address-agileinfo ul li a{
	color:#fff;
	-webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all; 
	transition: 0.5s all;
}
.address-agileinfo ul li a:hover{
	color:#222;
} 
/*-- //contact --*/
/*-- single --*/ 
.w3ls_single_left_grid_right h3 {
    font-size: 2em;
    color: #00aec5;
    line-height: 1.5em;
    text-transform: capitalize;
    margin: 0 0 0.5em;
}
.w3ls_single_left_grid_right h5 {
    font-size: 1em;
    color: #999;
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid #dcdcdc;
    letter-spacing: 6px; 
}
.w3ls_single_left_grid_right ul li{
	display:inline-block;
	margin-right:1.5em;
	font-size:1em;
}
.w3ls_single_left_grid_right ul li span{
	padding-right:0.6em;
	color:#999;
}
.w3ls_single_left_grid_right ul li a{
	color:#999;
	text-decoration:none;
}
.w3ls_single_left_grid_right ul li a:hover{
	color:#00aec5;
}
.w3ls_single_left_grid1{
	margin:2em 0;
}
.w3ls_single_left_grid1 p{
	margin:2em 0;
	color:#999;
	line-height:2em;
}
.w3ls_single_left_grid1 p span{
	display:block;
	margin:1em 0 0;
}
.w3ls_single_left_grid1_left{
	float:left;
}
.w3ls_single_left_grid1_left h4 {
    color: #ff5722;
    font-size: 1.8em;
    text-transform: uppercase;
}
.w3ls_single_left_grid1_right{
	float:left;
	margin-left:2em;
	margin-top: 0.4em;
} 
.w3ls_single_left_grid1_right .social-icon a {
    color: #222;
} 
.w3ls_single_left_grid1_right .social-icon a:hover{
    color: #00aec5;
} 
.w3l_admin {
    padding: 2em;
    background: #00aec5;
    margin:4em 0;
}
.w3l_admin p {
    color: #f5f5f5; 
    position: relative;
    padding-left: 3.5em;
	margin-bottom: 1em;
}
.w3l_admin p i.fa.fa-quote-left {
    margin-left: -3em;
    margin-right: 2em;
}
.w3l_admin a {
    display: block;
    text-align: right;
    color:#222;
    font-size: 1em;
    text-decoration: none;
}
.w3l_admin a:hover{
	color:#fff;
} 
.wthree_recent h4, .agileits_three_comments h3, .w3_leave_comment h3,.agileits-tags h4 {
    font-size: 2.2em;
    color: #ff5722;
    margin: 0;
    text-transform: capitalize;
}
.agileits-tags {
    margin-top: 3em;
}
.wthree_recent ul,.agileits-tags ul{
    padding:2em 0 0;
}
.wthree_recent ul li{
    list-style-type: none;
    font-size: 1em;
    color: #999;
    padding: 1em 0;
    border-bottom: 1px dashed #C1C1C1;
    text-transform: capitalize;
}
.wthree_recent ul li a{
    color: #999;
    text-decoration: none; 
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
	transition: .5s all;
}
.wthree_recent ul li a:hover{
    color:#00aec5;
}
.wthree_recent ul li span {
    display: block;
    font-size: 0.9em;
    padding-left: 3.5em;
    color: #00aec5;
    margin: .8em 0 0;
}
.wthree_recent ul li span i {
    left: -1em;
	font-size: .9em;
} 
.wthree_recent ul li a i {
    padding-right: 1em;
}
.wthree_recent ul li:last-child {
    border-bottom: none;
}
.agile_tags_cate{
    padding: 3em 0;
    border-top: 1px dashed #adadad;
    border-bottom: 1px dashed #adadad;
    margin:4em 0;
} 
.agile_cat_grid_tags ul li a:hover{
    color: #fff;
    background-color: #00aec5;
	border-color:#00aec5;
}
.agile_cat_grid_tags ul li{
	display:inline-block;
	margin:5px;
	font-size:1em;
}
.agile_cat_grid_tags ul li a{
	padding:6px 12px;
	border: 1px solid #ccc;
	text-decoration:none;
	color:#999;
	display: block;
}
.agileits_three_comment_grid{
    padding:2.5em 0;
    border-bottom: 1px dashed #ccc;
    width: 100%;
}
.agileits_tom {
    float: left;
    border: 1px solid #ccc;
    text-align: center;
    padding: 1em 1.5em;
}
.agileits_tom i.fa {
    font-size: 4em;
    color: #999;
}
.agileits_tom_right{
    float: left;
    width: 70%;
    margin-left: 3em;
}
.Hardy {
    float: left;
}
.reply {
    float: left;
    margin-left: 10em;
    margin-top: .5em;
}
.reply a {
    padding:8px 40px;
    background:#00aec5;
    color: #fff;
    font-size: 1em;
    text-decoration: none;
}
.reply a:hover{
	background:#ff5722;
}
.agileits_tom_right p.lorem { 
    margin: 1em 0 0;
}
.agileits_three_comments h3,.w3_leave_comment h3{
	text-align:left;
}
.Hardy h4 {
    font-size: 1.5em;
    color: #222;
}
.Hardy p {
    color:#00aec5;
    margin: .5em 0 0;
}
.agileits_three_comment_grid:nth-child(2){
    margin:3em 0 0;
	padding-top:0 !important;
}
.agileits_three_comment_grid:last-child{
	border-bottom:none;
	padding-bottom:0 !important;
} 
.w3_leave_comment{
	margin:4em 0 0;
	width:60%;
}
.w3_leave_comment form{
	margin:3em 0 0;
}
.w3_leave_comment input[type="text"], .w3_leave_comment input[type="email"], .w3_leave_comment textarea {
    outline: none; 
    border: 1px solid #dedede;
    padding: .8em 1em;
    font-size: 1em;
    color: #555;
    width: 100%;
}
.w3_leave_comment input[type="email"],.w3_leave_comment textarea{
	margin:1em 0;
}
.w3_leave_comment textarea{
	min-height:200px;
	resize:none;
}
.w3_leave_comment input[type="submit"]{
	outline:none;
	background:#00aec5;
	border:none;
	padding:0.8em 0;
	font-size:1em;
	color:#fff;
	width:100%;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	transition:.5s all;
}
.w3_leave_comment input[type="submit"]:hover{
	background:#ff5722;
}
/*-- //single --*/
/*-- pages --*/ 
.well {
    font-weight: 300;
    font-size: 14px;
}
.list-group-item {
    font-weight: 300;
    font-size: 14px;
}
li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}
.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.show-grid [class^=col-] {
    background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
	background: #e0e0e0;
}
.grid_3{
	margin-bottom:3em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
	color: #999;
	font-size: 0.85em;
	margin-bottom: 1em;
	font-weight: 300;
}
.grid_4{
	background:none; 
}
.label {
	font-weight: 300 !important;
	border-radius:4px;
}  
.grid_5{
	background:none; 
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.w3ls-hdg, h3.bars {
	margin-bottom: 1em;
    color: #333;
    font-weight: bold;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 0;
}
.badge-primary {
	background-color: #03a9f4;
}
.badge-success {
	background-color: #8bc34a;
}
.badge-warning {
	background-color: #ffc107;
}
.badge-danger {
	background-color: #e51c23;
}
.grid_3 p{
	line-height: 2em;
	color: #888;
	font-size: 0.9em;
	margin-bottom: 1em;
	font-weight: 300;
}
.bs-docs-example {
	margin: 1em 0;
}
section#tables  p {
	margin-top: 1em;
}
.tab-container .tab-content {
	border-radius: 0 2px 2px 2px;
	border: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	font-size: 0.9em;
	color: #999;
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.label {
	font-weight: 300 !important;
}
.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}
.alert {
	font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:2em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
	line-height: 2.5em;
}
.input-group {
	margin-bottom: 20px;
}
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
	margin-bottom: 48px;
}
ol {
	margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
} 
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
	font-weight: 300 !important;
}
.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}
.nav-tabs {
	margin-bottom: 1em;
} 
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:1.8em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
	line-height: 2.5em;
}
.input-group {
	margin-bottom: 20px;
}
 .codes .row {
    margin: 0;
}
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
	margin-bottom: 48px;
}
ol {
	margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
.form-control1, .form-control_2.input-sm{
	border: 1px solid #e0e0e0;
	padding:5px 18px;
	color: #616161;
	background: #fff;
	box-shadow: none !important;
	width: 100%;
	font-size: 0.85em;
	font-weight: 300;
	height: 40px;
	border-radius: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	-webkit-appearance: none;
	outline:none;
}
.control3{
	margin:0 0 1em 0;
}
.codes label {
    font-weight: 400;
}
/*-- icons --*/
.codes a {
    color: #999;
}
.icon-box {
    padding: 8px 15px;
    background:rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
} 
.icon-box:hover {
    background: #5f5f5f;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.icon-box:hover i.fa {
	color:#fff !important;
}
.icon-box:hover a.agile-icon {
	color:#fff !important;
}
.codes .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px; 
    line-height: 1.4;
    text-align: center;  
    font-size: 12px;
    list-style-type: none;	
}
.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.codes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
h3.icon-subheading {
	font-size: 28px;
    color: #000 !important;
    margin: 30px 0 15px;
}
.agileits-icons-title {
    text-align: center;
    font-size: 36px;
    color: #ef2e46;
    font-weight: 300;
}
.icons a {
    color: #999;
}
.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}
.icons .bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background:rgba(149, 149, 149, 0.18);
    margin: 1%;
}
.icons .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
	color: #282a2b;
}
.icons .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.icons .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
/*-- //icons --*/
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
	font-weight: 300 !important;
}
.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
} 
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:1.8em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
  line-height: 2.5em;
}
.input-group {
  margin-bottom: 20px;
}
 .codes .row {
    margin: 0;
}
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
	margin-bottom: 48px;
}
ol {
	margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
.form-control1, .form-control_2.input-sm{
	border: 1px solid #e0e0e0;
	padding:5px 18px;
	color: #616161;
	background: #fff;
	box-shadow: none !important;
	width: 100%;
	font-size: 0.85em;
	font-weight: 300;
	height: 40px;
	border-radius: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	-webkit-appearance: none;
	outline:none;
}
.control3{
	margin:0 0 1em 0;
}
.codes label {
    font-weight: 400;
}
@media (max-width:1080px){
.icon-box {
    padding: 8px 9px; 
}
}
@media (max-width:768px){
	.grid_5 {
		padding: 0 0 1em;
	}
	.grid_3 {
		margin-bottom: 0em;
	}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 25px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
	.label {
		font-size: 60%;
	}
	.in-gp-tl {
		padding: 0 1em;
	}
	.in-gp-tb {
		padding-right: 1em;
	}
}
@media (max-width:480px){
	h3.w3ls-hdg {
		font-size: 1.6em;
		margin: 1em 0 0.6em;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		font-size: 1.2em;
	}
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.codes .alert {
		font-size: 0.9em;
		padding: 10px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
	.grid_3.grid_4.w3layouts {
		margin-top: 0;
	}
	.agileits-icons-title {  
		font-size: 30px; 
	}
	h3.icon-subheading {
		font-size: 22px; 
	}
	.icons .bs-glyphicons li { 
		width: 31%; 
	} 
}
@media (max-width: 320px){ 
	.alert,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 1em;
		padding: 5px 11px !important;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
		font-size: 0.81em;
	}
	.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		padding: 13px!important;
	}
	.codes .row {
		margin: 0;
	}
	.agileits-icons-title { 
		font-size: 25px;
	}
	h3.icon-subheading {
		font-size: 18px;
		margin: 21px 0 12px;
	}
}
/*-- //pages --*/
/*-- responsive-design --*/ 
@media(max-width:1366px){
.wthree-bnr-login ul li { 
    width: 31%;
}
.banner-w3text.w3layouts {
    padding: 17em 0;
} 
} 
@media(max-width:1080px){
.w3menu.navbar-left {
    margin-left: 8em;
}
.top-nav ul li a { 
    padding: 1.3em 1.5em; 
}
.banner-w3text.w3layouts {
    padding: 15em 0;
}
.banner-bottom p { 
    width: 58%; 
}
h3.agileits-title {
    font-size: 3.2em; 
}
.agileits_about_right {
    padding: 0 6em 0 0; 
}
.agileits_about_left p.w3l_para {
    margin: 0 0 2em 0;
}
.services-w3grid h5 {
    font-size: 1.3em;
    margin: 1em 0 .5em; 
}
.agileits_w3layouts_events_grid_social, .agileits_w3layouts_events_grid_social1 { 
    top: 10%; 
    right: 3.5%;
}
.footer-grids.footer-mdl { 
    padding: 0 2em;
}
.w3l_admin p { 
    padding-left: 3em; 
}
.w3l_admin p i.fa.fa-quote-left {
    margin-left: -3em;
    margin-right: 2em;
}
.banner-w3text h2 {
    font-size: 4em; 
}
.banner-w3text.w3layouts.aboutw3l-bnrtext {
    padding: 3em 0;
}
.about-w3slid h3 {
    font-size: 3em; 
    letter-spacing: 8px; 
} 
.about, .events, .services, .team, .gallery, .contact, .codes,.about-w3slid  {
    padding: 4em 0;
}
.wthree_team_grid_left figure .w3l_banner_figure {
    padding: 1em; 
}
.footer {
    padding: 3em 0; 
}
[class^='imghvr-'] .agile-figcaption, [class*=' imghvr-'] .agile-figcaption { 
    padding: 2.5em; 
}
.agile_events_grid_pos1 h4 a {
    font-size: 1em; 
} 
}
@media(max-width:1024px){
.footer-grids:nth-child(3) {
    padding: 0 1em 0 3em;
}
.about-w3slid h3 {
    font-size: 2.5em;
    letter-spacing: 6px;
}
a.agile-more { 
    margin-top: 2em;
}
.w3l_admin { 
    margin: 3em 0;
}
.agileits_three_comment_grid:nth-child(2),.w3_leave_comment form{
    margin: 2em 0 0; 
}
.agileits_tom i.fa {
    font-size: 2.5em; 
}
.agileits_tom_right { 
    margin-left: 2em;
}
.w3_leave_comment {
    margin: 3em 0 0; 
}
.w3_leave_comment textarea {
    min-height: 160px; 
}
.banner-w3text h2 {
    font-size: 3em;
}
}
@media(max-width:991px){
.top-nav ul li a {
    padding: 1.4em 1.1em;
	font-size:1em;
}
.social-icon a { 
    margin: 0 .4em; 
}
.w3llogo h1 {
    font-size: 2.8em; 
}
.w3menu.navbar-left {
    margin-left: 4em;
}
.navbar-collapse.collapse { 
    padding: 0; 
}
.banner-w3text h6 { 
    letter-spacing: 3px; 
}
.banner-w3text.w3layouts {
    padding: 12em 0;
}
.banner-bottom p {
    width: 66%;
    letter-spacing: 3px;
	line-height: 1.8em;
}
.bnr-btm-left:after { 
    border-bottom: 147px solid transparent; 
}
.agileits_about_left {
    margin-top: 6em;
}
.agileits_w3layouts_events_grid_social, .agileits_w3layouts_events_grid_social1 {
    top: 7%;
    right: 4.5%;
}
.w3l_social_icon_gridl a { 
    line-height: 2.5em; 
}
.w3l_social_icon_gridl { 
    width: 55px;
    height: 55px; 
}
.w3l_social_icon_gridr p {
    font-size: 1.3em; 
}
.agile_events_grid_pos1 {
    padding: 1.5em; 
}
.agile_events_grid_pos1 h4 a {
    font-size: 0.9em;
    letter-spacing: 2px;
}
.agile_events_grid_pos1 h5 {
    font-size: 0.8em; 
}
.agile_events_grid_pos1 h4 {
    margin: 0.8em 0 .3em;
}
.social-icon.evnts-w3lsicons a.social-button.facebook {
    margin: 1em 0;
}
.w3_agile_newsletter_left {
    float: left;
    margin-right: 3em;
    padding: 0;
}
.w3l-newsletter input[type="email"] { 
    width: 39%;  
}
.w3l-newsletter input[type="submit"] { 
    width: 19%; 
}
.w3_agile_newsletter_right {
    padding: 0;
}
.footer-bottom { 
    padding: 2em 0 0;
}
.footer-grids.footer-mdl {
    padding: 0 2em;
}
.grid-left {
    padding: 0;
}
.footer p { 
    letter-spacing: 0px;
}
.footer-grids h6 {
    font-size: 1.2em; 
    margin-top: 0.5em;
    letter-spacing: 1px;
}
.footer-grids:nth-child(3) {
    padding: 0 0em 0 2em;
}
.footer-grids ul li.phn {
    font-size: 1em;
}
.agileits-tags {
    margin: 2em 0;
}
.agileits_tom i.fa {
    font-size: 2em;
}
.agileits_tom_right p.lorem {
    margin: 0.5em 0 0;
}
.agileits_three_comment_grid {
    padding: 2em 0; 
}
.w3_leave_comment {
    margin: 2em 0 0;
}
.w3_leave_comment textarea {
    min-height: 130px;
}
.w3_leave_comment input[type="text"], .w3_leave_comment input[type="email"], .w3_leave_comment textarea { 
    padding: .6em 1em; 
}
.agileits_three_comment_grid:nth-child(2), .w3_leave_comment form {
    margin: 1.5em 0 0;
}
.w3ls_single_left_grid_right h3 {
    font-size: 1.6em; 
}
.w3ls_single_left_grid_right h5 {
    font-size: 0.9em; 
    letter-spacing: 4px;
}
.w3ls_single_left_grid1 p {
    margin: 1em 0; 
}
.wthree_recent ul, .agileits-tags ul {
    padding: 1em 0 0;
}
.wthree_team_grid_left figure .w3l_banner_figure {
    padding: 1em .5em;
}
figure.effect-julia p { 
    padding: 0.2em 0.5em; 
    font-size: 0.9em; 
}
.wthree_team_grid_left {
    padding: 0 .5em;
}
.w3gallery-grids {
    padding: .3em 0.5em;
}
[class^='imghvr-'] .agile-figcaption h4 {
    font-size: 2.5em; 
}
[class^='imghvr-'] .agile-figcaption, [class*=' imghvr-'] .agile-figcaption {
    padding: 1.5em 1em;
}
.contact-left iframe { 
    min-height: 18em; 
}
.contact input[type="text"] { 
    padding: .6em 1em;
    margin-bottom: 1em; 
}
.contact-right {
    margin-top: 2em;
}
.contact input[type="submit"] { 
    padding: .6em 4em; 
}
.contact textarea { 
    min-height: 12em; 
}
.address-agileinfo ul li { 
    width: inherit; 
}
.address-agileinfo ul li:nth-child(2) {
    margin: 0 2em;
}
.address-agileinfo {
    padding: 1em 1.5em; 
}
.address-agileinfo ul li i.phon {
    font-size: 1.5em; 
}
.address-agileinfo { 
    margin-top: 2em; 
}
.agileits_about_right {
    padding: 0 20em 0 0;
}
.w3ls_about_right_pos {
    position: absolute;
    top: 18%;
    right: 31%;
    width: 60%;
}
.agileits_tom_right { 
    width: 80%; 
}
} 
@media(max-width:768px){
.w3llogo h1 {
    font-size: 2.6em;
    margin-top: 0.35em;
}
.banner-w3text.w3layouts {
    padding: 10em 0;
}
.banner-w3text input[type="text"], .banner-w3text input[type="email"] { 
    padding: .6em 1.5em; 
}
.banner-w3text input[type="submit"] { 
    padding: .6em 0; 
}
.wthree-bnr-login {
    width: 80%;
    margin: 2em auto;
}
.banner-w3text h6 {
    letter-spacing: 2px;
}
.wthree-bnr-login ul li:nth-child(2) {
    margin: 0 1em;
}
h3.agileits-title {
    font-size: 2.8em;
}
.footer-row h4 {
    font-size: 2.2em; 
}
.w3l-newsletter input[type="email"] { 
    padding: .6em 1.5em; 
}
.w3l-newsletter input[type="submit"] { 
    padding: .6em 0; 
} 
}
@media(max-width:767px){
button.navbar-toggle {
    border-color: #ff5722;
    margin: 0;
}
span.icon-bar {
    background: #ff5722;
}
.w3llogo h1 { 
    margin-top: 0;
}
.top-nav { 
    padding: 1em;
}
div#bs-example-navbar-collapse-1 {
    position: absolute;
    width: 100%;
    margin: 0.9em 0 0;
    padding: 0;
    background: #fff;
    text-align: center;
    z-index: 9;
    left: 0;
}
.w3menu.navbar-left {
    margin-left: 0;
}
.top-nav ul li {
    display: block;
    float: none;
}
.top-nav ul li a {
    padding: 1.2em 1em; 
    display: block;
}
.w3ls-bnr-icons.social-icon {
    margin: 0;
    padding: 1.2em 1em;
}
.banner-bottom p {
    width: 80%;
    letter-spacing: 2px; 
}
.banner-bottom p { 
    margin: 0.8em auto 0; 
}
.bnr-btm-left, .bnr-btm-right { 
    padding: 1.5em;
}
.bnr-btm-left:after {
    border-bottom: 130px solid transparent;
    right: -25px;
    border-left: 25px solid #009eb3;
} 
.top-nav .open > .dropdown-menu { 
    width: 100%;
    border: none;
    position: inherit;
    text-align: center;
    float: none;
}
}
@media(max-width:736px){ 
.w3l_social_icon_gridr { 
    margin: 0.8em 0 0 5em;
}
.w3l_social_icon_grid_pos { 
    left: 16%;
}
.w3ls_social_icon_grid {
    margin: 1.5em 0;
}
h3.agileits-title {
    font-size: 2.6em;
    padding: 0.1em 0.6em;
}
.services-w3grid span {
    font-size: 1.2em; 
}
.services-w3grid h5 {
    font-size: 1.2em; 
}
.services-w3grid:nth-child(3),.services-w3grid.bottom-grids {
    margin-top: 2em;
}
.services-w3grid p { 
    margin: 0 1em;
} 
.agile_events_grid {
    width: 50%; 
}
.agileits_w3layouts_events_grid_social, .agileits_w3layouts_events_grid_social1 { 
    right: 4.4%;
}
.banner-w3text.w3layouts.aboutw3l-bnrtext {
    padding: 2em 0;
}
.about, .events, .services, .team, .gallery, .contact, .codes, .about-w3slid {
    padding: 3em 0;
}
.about-w3slid h3 {
    font-size: 2em;
    letter-spacing: 5px;
}
.footer-grids.footer-mdl {
    padding: 0 1em;
}
.footer {
    padding: 2em 0;
}
[class^='imghvr-'] .agile-figcaption, [class*=' imghvr-'] .agile-figcaption {
    padding: 3.5em 3em;
}
.address-agileinfo ul li i.phon { 
    margin-right: 0.1em; 
}
.address-agileinfo ul li:nth-child(2) {
    margin: 0 1.3em; 
}
.bnr-btm-left:after {
    border-bottom: 124px solid transparent; 
}
}
@media(max-width:667px){
.wthree-bnr-login ul li:nth-child(2) {
    margin: 0 0.5em;
}
.banner-w3text h6 {
    font-size: 0.9em; 
}
.banner-bottom p {
    font-size: 0.9em; 
}
.agile_events_grid { 
    padding: 0 .5em;
}
.agileits_w3layouts_events_grid_social, .agileits_w3layouts_events_grid_social1 {
    right: 2.4%;
}
.agile_events_grid_pos1 h4 a {
    font-size: 0.8em; 
}
.w3_agile_newsletter_left { 
    margin-right: 2em; 
}
.w3l-newsletter input[type="submit"] {
    width: 20%;
    margin-left: 0.5em;
}
.footer-grids ul li { 
    font-size: 0.9em;
}
.footer-row h4 {
    font-size: 1.9em;
}
.footer-bottom {
    padding: 1.5em 0 0;
}
[class^='imghvr-'] .agile-figcaption, [class*=' imghvr-'] .agile-figcaption {
    padding: 3em 2em;
} 
.address-agileinfo ul li:nth-child(2) {
    margin: 1em 0;
}
.address-agileinfo ul li {
    width: 100%;
} 
}
@media(max-width:640px){
.agileits_w3layouts_events_grid_social, .agileits_w3layouts_events_grid_social1 {
    right: 2.2%;
}
.social-icon.evnts-w3lsicons a { 
    margin: 0.8em 0; 
}
.banner-w3text.w3layouts.aboutw3l-bnrtext  h2 {
    font-size: 2.5em;
}
.about-w3slid h3 {
    font-size: 2em; 
}
}
@media(max-width:600px){
.banner-w3text.w3layouts {
    padding: 8em 0;
}
.wthree-bnr-login {
    width: 90%; 
}
.agile_events_grid {
    padding: 0;
    width: 75%;
    margin: 0 auto;
    float: none;
}
.agileits_w3layouts_events_grid_social, .agileits_w3layouts_events_grid_social1 {
    right: 0;
    top: 15%;
}
.agile_events_grid:nth-child(2) {
    margin-top: 2em;
}
.footer-grids {
    width: 100%;
    float: none;
}
.footer-grids.footer-mdl {
    padding: 0 2em;
    margin: 2em 0;
}
.footer-grids:nth-child(3) {
    padding: 0;
}
.grid-left {
    padding: 0;
    width: 30%;
}
.w3l_admin {
    margin: 2em 0;
}
.w3l_admin p i.fa.fa-quote-left {
    margin-left: -2em;
    margin-right: 1em;
}
.w3l_admin p {
    padding-left: 2em;
}
.w3l_admin {
    padding: 1.5em; 
}
.w3_leave_comment { 
    width: 80%;
}
.agileits_about_right {
    padding: 0 15em 0 0;
}
.agileits_about_left {
    margin-top: 4em;
}
.wthree_team_grid_left {
    padding: 0 1em;
    width: 50%;
    margin: 0 auto;
}
.wthree_team_grid_left {
    margin-bottom: 2em;
}
.wthree_team_grid_left figure .w3l_banner_figure {
    padding: 1.5em 2.5em;
}
figure.effect-julia p { 
    margin: 0 0 0.6em; 
	padding: 0.2em 1.5em;
}
.wthree_team_grid_left figure .w3l_banner_figure {
    padding: 1.5em 2em;
}
[class^='imghvr-'] .agile-figcaption, [class*=' imghvr-'] .agile-figcaption {
    padding: 2.5em 1em;
}
}
@media(max-width:568px){
.services-w3grid p {
    margin: 0 0.5em;
}
.w3l-newsletter input[type="email"] {
    width: 37%;
}
.w3l-newsletter input[type="submit"]:hover { 
    letter-spacing: 2px;
}
}
@media(max-width:480px){
.banner-w3text h6 {
    font-size: 0.8em;
    line-height: 2em;
    padding: 0 3em;
}
.banner-bottom p {
    font-size: 0.8em;
    width: 90%;
}
.banner-bottom h5 {
    font-size: 1.6em; 
}
.bnr-btm-left:after {
    border-bottom: 116px solid transparent;
}
.agileits_about_right {
    padding: 0 12em 0 0;
}
.w3l_social_icon_grid_pos {
    left: 20%;
}
.agileits_w3layouts_events_grid_social, .agileits_w3layouts_events_grid_social1 { 
    top: 10%;
}
.w3_agile_newsletter_left {
	float: none;
    margin: 0 0 1em;
}
.w3l-newsletter input[type="submit"] {
    width: 33%; 
}
.w3l-newsletter input[type="email"] {
    width: 52%;
}
.about-w3slid h3 {
    font-size: 1.8em;
    letter-spacing: 2px;
}
a.agile-more {
    font-size: 0.9em; 
}
.wthree_team_grid_left figure .w3l_banner_figure {
    padding: 1.5em 1em;
}
[class^='imghvr-'] .agile-figcaption h4 {
    font-size: 2em;
}
[class^='imghvr-'] .agile-figcaption, [class*=' imghvr-'] .agile-figcaption {
    padding: 1.5em 0.5em;
}
.contact-right {
    margin-top: 1.5em;
}
.contact textarea {
    min-height: 9em;
}
.agileits_tom_right {
    margin-left: 1.2em;
}
}
@media(max-width:414px){
.banner-w3text h2 {
    font-size: 2.2em;
}
.banner-w3text input[type="text"], .banner-w3text input[type="email"] { 
    font-size: 0.9em;
}
.wthree-bnr-login ul li {
    width: 100%;
}
.wthree-bnr-login ul li:nth-child(2) {
    margin: 1em 0;
}
.wthree-bnr-login { 
    margin: 1em auto;
}
.banner-w3text.w3layouts {
    padding: 6em 0;
}
.banner-bottom h5 {
    font-size: 1.4em;
}
.banner-bottom p { 
    letter-spacing: 0px;
}
h3.agileits-title {
    font-size: 2.2em; 
}
.about, .events, .services, .team, .gallery, .contact, .codes, .about-w3slid {
    padding: 2em 0;
}
.agileits_about_right {
    padding: 0 5em 0 0;
}
.w3ls_about_right_pos { 
    right: 12%;
    width: 80%;
}
.agileits_about_left { 
    padding: 0;
}
p {
    font-size: 0.9em; 
}
.w3l_social_icon_gridl a {
    font-size: 1.2em; 
}
.w3l_social_icon_gridl {
    width: 46px;
    height: 46px;
}
.w3l_social_icon_gridr p {
    font-size: 1.1em;
}
.agileits_about_left p.w3l_para {
    margin: 0 0 1em 0;
}
.agile_events_grid { 
    width: 85%; 
}
.w3ls_single_left_grid_right ul li { 
    margin-right: 1em;
    font-size: 0.9em;
}
.w3ls_single_left_grid1 {
    margin: 1em 0;
}
.wthree_recent h4, .agileits_three_comments h3, .w3_leave_comment h3, .agileits-tags h4 {
    font-size: 2em; 
}
.agileits_tom_right {
    width: 100%;
    margin-left: 0;
    float: none;
}
.reply a {
    padding: 8px 30px; 
    font-size: 0.9em; 
}
.reply { 
    margin-left: 5em; 
}
.agileits_tom { 
    padding: 0.6em 1em;
}
.agileits_tom {
    float: none; 
    padding: 0.6em 1em;
    display: inline-block;
    margin-bottom: 1em;
}
.wthree_team_grid_left {
    padding: 0 0.5em; 
}
figure.effect-julia p {
    padding: 0.2em 0.5em;
}
[class^='imghvr-'] .agile-figcaption, [class*=' imghvr-'] .agile-figcaption {
    padding: 5em 4em;
}
.wthree_team_grid_left {
    margin-bottom: 2em;
}
.bnr-btm-left, .bnr-btm-right {
    padding: 1.2em;
}
.bnr-btm-left:after {
    border-bottom: 105px solid transparent;
    right: -15px;
    border-left: 15px solid #009eb3;
}
.address-agileinfo ul li { 
    font-size: 0.9em; 
}
.contact input[type="text"] { 
    font-size: 0.9em; 
}
.contact-left iframe {
    min-height: 16em;
}
.w3l-newsletter input[type="email"],.w3l-newsletter input[type="submit"]{ 
    font-size: 0.9em; 
}
.footer-grids ul li.phn {
    font-size: 0.9em;
}
a.agile-more {
    margin-top: 1.5em;
	font-size: 0.85em;
} 
.about-w3slid h3 {
    font-size: 1.6em; 
}
.w3l-newsletter input[type="submit"]:hover { 
    letter-spacing: 1px;
}
.w3ls_single_left_grid_right h5 { 
    margin-bottom: 1em;
    padding-bottom: 1em; 
}
.wthree_recent ul li { 
    font-size: 0.9em; 
}
.w3_leave_comment input[type="text"], .w3_leave_comment input[type="email"], .w3_leave_comment textarea,.w3_leave_comment input[type="submit"] { 
    font-size: 0.9em; 
}
.contact-left.wthree,.contact-right {
    padding: 0;
}
.w3gallery-grids {
    width: 100%;
    float: none;
    padding: 0 0 0.5em;
}  
}  
@media(max-width:384px){
.services-w3grid p {
    margin: 0;
}
.services-w3grid h5 {
    font-size: 1.1em;
}
.agile_events_grid {
    width: 92%;
}
.w3ls_single_left,.w3ls_single_right {
    padding: 0;
}
.w3ls_single_left_grid1_left h4 { 
    font-size: 1.5em; 
}
.w3ls_single_left_grid1_right { 
    margin-top: 0.2em;
}
.wthree_recent ul, .agileits-tags ul {
    padding: 0.5em 0 0;
}
.wthree_recent h4, .agileits_three_comments h3, .w3_leave_comment h3, .agileits-tags h4 {
    font-size: 1.8em;
}
.agileits_three_comment_grid {
    padding: 1.5em 0;
}
.Hardy h4 {
    font-size: 1.3em; 
}
.w3_leave_comment {
    width: 95%;
}
.services-w3grid {
    padding: 0 .5em;
}
[class^='imghvr-'] .agile-figcaption, [class*=' imghvr-'] .agile-figcaption {
    padding: 4.5em 2em;
}
.agile_cat_grid_tags ul li { 
    font-size: 0.9em;
} 
.contact input[type="submit"] { 
    font-size: .9em;
    margin: 0.5em 0 0 0; 
} 
.address-agileinfo {
    padding: 1em;
}   
.wthree_team_grid_left figure .w3l_banner_figure {
    padding: 1.5em 0.5em;
}
.wthree_team_grid_left {
    margin-bottom: 1em;
}
} 
@media(max-width:320px){
.w3llogo h1 {
    font-size: 2.4em; 
}
.navbar-toggle { 
    padding: 7px 8px;  
}
.banner-w3text h2 {
    font-size: 1.8em;
}
.wthree-bnr-login ul li:nth-child(2) {
    margin: 0.5em 0;
}
.banner-w3text input[type="submit"] {
    padding: .5em 0;
}
.banner-w3text h6 { 
    padding: 0 1em;
    letter-spacing: 1px;
}
.banner-w3text.w3layouts {
    padding: 4em 0;
}
.banner-bottom p {
    margin: 0.5em auto 0;
} 
.bnr-btm-left, .bnr-btm-right {
    padding: 1em;
}
.bnr-btm-left:after {
    border-bottom: 96px solid transparent;
    right: -10px;
    border-left: 10px solid #009eb3;
}
h3.agileits-title {
    font-size: 2em;
	margin-bottom: 0.8em;
}
.agileits_about_right {
    padding: 0 3em 0 0;
}
.w3ls_about_right_pos {
    right: 8%;
    width: 85%;
}
.agileits_about_left {
    margin-top: 3em;
}
.w3l_social_icon_grid_pos {
    left: 28%;
}
.services-w3grid span {
    font-size: 1em;
}
.services-w3grid h5 {
    font-size: 1em;
}
.services-w3grid:nth-child(3), .services-w3grid.bottom-grids {
    margin-top: 1em;
}
.agile_events_grid {
    width: 100%;
}
.social-icon.evnts-w3lsicons a {
    margin: 0;
}
.social-icon.evnts-w3lsicons a.social-button.facebook {
    margin: 0.8em 0;
}
.agile_events_grid_pos1 h5 span {
    font-size: 2.5em; 
}
.agile_events_grid_pos1 {
    padding: 1em;
}
.footer-row h4 {
    font-size: 1.6em;
}
.footer-bottom {
    padding: 1em 0 0;
}
.footer-row {
    padding-bottom: 1em;
}
.w3l-newsletter input[type="submit"] {
    width: 39%;
}
.w3l-newsletter input[type="email"] {
    width: 57%;
}
.footer-grids.footer-mdl {
    padding: 0 1.5em;
    margin: 1.5em 0;
}
.grid-left { 
    width: 47%;
}
.about-w3slid h3 {
    font-size: 1.4em;
    letter-spacing: 1px;
}
.wthree_team_grid_left {
    padding: 0 2em;
    float: none;
    width: 100%;
}
figure.effect-julia p {
    padding: 0.2em 1.5em;
} 
.w3ls_single_left_grid_right h3 {
    font-size: 1.4em;
}
.w3ls_single_left_grid_right ul li { 
    font-size: 0.85em;
}
.w3l_admin,.agileits-tags {
    margin: 1.5em 0;
}
.banner-w3text.w3layouts.aboutw3l-bnrtext h2 {
    font-size: 2em;
}
.banner-w3text.w3layouts.aboutw3l-bnrtext {
    padding: 1.5em 0;
} 
[class^='imghvr-'] .agile-figcaption, [class*=' imghvr-'] .agile-figcaption {
    padding: 3em 2em;
}
}
/*-- //responsive-design --*/